<!DOCTYPE html>
<!--
* Copyright 2017 Agência para a Modernização Administrativa, IP.
* Licenciado nos termos da EUPL, versão 1.1
* A utilização desta obra está condicionada aos termos da
 Licença.
* É possível obter uma cópia da Licença em: http://ec.europa.eu/idabc/eupl.html
* Salvo requisito da legislação aplicável ou acordo
 expresso por escrito, o software distribuído nos termos
 da Licença é distribuído SEM GARANTIAS OU CONDIÇÕES DE QUALQUER ESPÉCIE,
 Expressas ou implícitas.
*/ -->
<html>
	<head>
		<title>AEColos - Agrupamento de Escolas de Colos</title>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		<meta content="initial-scale=1.0, width=device-width" name="viewport">
		<link href="./images/favicon.ico" rel="Shortcut Icon">
		<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet" type="text/css">
		<script lang="javascript" src="./js/xlsx.full.min.js"></script>
		<script src="https://unpkg.com/lunr/lunr.js"></script>
		<script src="./dist/bundle.js"></script>
		<script>
			window.Papercups = {
			  config: {
				// Pass in your Papercups account token here after signing up
				token: 'aceb76fc-dd76-4426-859e-ffe8754b0b40',
				// Specify a Papercups inbox
				inbox: 'c0b750af-5636-40dc-a42d-f1dc4da9d131',
				title: 'Chatbox AEColos',
				subtitle: 'O chat da AEColos 😊',
				newMessagePlaceholder: 'Começe a escrever...',
				primaryColor: '#13c2c2',
				// Optionally pass in a default greeting
				greeting: 'Olá, como podemos ajudar?',
				// Optionally pass in metadata to identify the customer
				customer: {
				  name: 'Test User',
				  email: 'test@test.com',
				  external_id: '123',
				  metadata: {version: 1, plan: 'premium'}, // Custom fields go here
				},
				// Optionally specify the base URL
				baseUrl: 'https://app.papercups.io',
				// Add this if you want to require the customer to enter
				// their email before being able to send you a message
				requireEmailUpfront: true,
				// Add this if you want to indicate when you/your agents
				// are online or offline to your customers
				showAgentAvailability: false,
			  },
			};
		  </script>
		  <script
			type="text/javascript"
			async
			defer
			src="https://app.papercups.io/widget.js"
		  ></script>
		  <script src="https://unpkg.com/page/page.js"></script>
		  <script type="text/javascript" src="https://sdk.userbase.com/2/userbase.js"></script>
		  <script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script>
		  <script type="text/javascript" src="https://rickharrison.github.io/validate.js/validate.min.js"></script>
	</head>
	<body class="homopage">
		
		{% include menu.html %}
        
        {{content}}

        <script type="text/javascript" src="./js/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="./js/select2.full.min.js"></script>
		<script type="text/javascript" src="./js/main.js"></script>		
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<script>
			//page.base('/prof');
			page('/prof/:prof', function(ctx){
				if(ctx.params.prof === 'aecolos')
					page('/prof');
			});
			page();
		</script>
		<script>
			/*let templData;
			fetch("./tmpls.html").then(function(resp){
				resp.text().then(function(txt){
					tmplData = txt;
				});
			});*/
			let shroot = document.querySelector('#submenu').attachShadow({mode:'open'});
			//let shcal = document.querySelector('#calwrap').attachShadow({mode:'open'});
			shroot.appendChild(document.querySelector('#tmpl_logform').content.cloneNode(true));
		</script>
		<script type="text/javascript">
			userbase.init({ appId: 'f98d4fda-0171-466a-80a5-aa23799653c9' })
		</script>
	</body>
</html>